<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>SuccessfullyRegistered</title>
   </head>
   <body>
      <p> "Hello, You are Successfully! registered by " 
         {{data.clientName}} <br />
         "Please use the following credentials to login: " 
         "Username: "  {{data.username}}<br />
         "password: pls contact your admin Here is the Login link " <br />
         "http://localhost:4200/login " <br />
         "Thank you"
      </p>
   </body>
</html>