<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
   </head>
   <body>
      <h1>Hello {{data.username}}</h1>
      <br /
         >
      <p>Please Click  
         <a href="{{link}}/api/user/activation/{{data.clientFk}}/{{data.id}}">
         here
         </a> to Activate your account.
      </p>
   </body>
</html>