<div class="row">
  <div class="page-title">
    <h4 class="ml-3">{{ value }} Listing</h4>
  </div>

  <div class="input-group col">
    <input
      type="search"
      class="form-control rounded ml-2"
      style="max-width: max-content; float: left; margin-bottom: 15px"
      (keyup)="applyFilter($event.target.value)"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="search-addon"
    />

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        class="btn btn-sm mt-2 ml-3"
        [(ngModel)]="datePicker"
        placeholder="Choose a date"
        style="margin-left: 100px"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col" *ngIf="isRackCreated" style="float: right">
    <button
      class="btn btn-sm btn-primary mt-2 pull-right bi bi-shop"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Add Rack"
      style="background-color: #2185d0; border-color: #2185d0"
      routerLink="/createRack"
    >
      Add Rack
    </button>
  </div>

  <div class="mat-app-background basic-container">
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 ml-2">
      <ng-container matColumnDef="name">
        <mat-header-cell
          class="custom-mat-header-styling tableHeaderCellDiv"
          *matHeaderCellDef
          class="text-bold"
          style="font-size: 14px; color: #778d9b"
        >
          RackName
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="color: #778d9b">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="no_of_rows">
        <mat-header-cell
          class="custom-mat-header-styling tableHeaderCellDiv"
          *matHeaderCellDef
          class="text-bold"
          style="font-size: 14px; color: #778d9b"
        >
          No Of Rows
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="color: #778d9b">
          {{ element.no_of_rows }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="no_of_columns">
        <mat-header-cell
          class="custom-mat-header-styling tableHeaderCellDiv"
          *matHeaderCellDef
          class="text-bold"
          style="font-size: 14px; color: #778d9b"
        >
          No Of Columns
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="color: #778d9b">
          {{ element.no_of_columns }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell
          class="custom-mat-header-styling tableHeaderCellDiv"
          *matHeaderCellDef
          class="text-bold"
          style="font-size: 14px; color: #778d9b"
        >
          CreatedAt
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="color: #778d9b">
          {{ element.createdAt | date: 'dd/MM/yyyy' }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      <ng-container matColumnDef="actions">
        <mat-header-cell
          *matHeaderCellDef
          class="text-bold"
          style="font-size: 14px; color: #778d9b"
        >
          Actions
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a
            class="bi-pencil-fill mr-2"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Edit Rack"
            routerLink="/editRack/{{ element.id }}"
          ></a>
          <a
            class="bi-trash-fill context-menu mr-2"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Delete Rack"
            (click)="deleteRack(element.id)"
            style="color: #990059"
          ></a>
          <a
            class="bi-eye-fill text-success context-menu mr-2"
            data-toggle="tooltip"
            data-placement="bottom"
            title="View Rack"
            (click)="fetchTrayView(element.id, element.name)"
          ></a>
        </mat-cell>
      </ng-container>
    </mat-table>
    <mat-paginator #paginator [pageSize]="5"></mat-paginator>
  </div>
</div>
